html body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(48, 46, 48);
}

#intro {
    color: #DBD3D8;
}

#about {
    color: #DBD3D8;
}

/* #about_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */

/* #2E5E4E 

#93A7AA

#A7B5B9 */